<!-- templates/albums/songs_by_writer.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<h1>Songs by {{ writer_name }}</h1>

{% if songs %}
    <ul>
        {% for song in songs %}
            <li>{{ song.title}} (Album: {{ song.album.title }})</li>

        {% endfor %}
    </ul>
{% else %}
    <p>No songs found for {{ writer_name }}.</p>
{% endif %}

 <a href="{% url 'album_list' %}">Back to Albums</a>
 <br>
 <a href="{{ previous_page }}">Go back</a>