<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Albums{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Albums</h1>
        <div class="album-detail">
            {% for album in page_obj %}
                <div class="album-item">
                    <h2>{{ album.title }}</h2>
                    <a href="{% url 'album_detail' album.id %}">
                        <img src="{{ album.image.url }}" alt="{{ album.title }}" class="album-image">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                {% endif %}
            </span>
        </div>

        <a href="{% url 'album_add' %}"><button>Add Album</button></a>
    </div>
</body>
</html>
