<!-- templates/Songs/song_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song.Title }}</title>
</head>
<body>
    <h1>{{ song.Title }}</h1>
    <p>Duration: {{ song.Duration }}</p>
    <p>Album: <a href="{% url 'album_detail' song.Album.AlbumID %}">{{ song.Album.Title }}</a></p>
    <h2>Singers</h2>
    <ul>
        {% for song_singer in song.songsinger_set.all %}
            <li><a href="{% url 'singer_detail' song_singer.singer.SingerID %}">{{ song_singer.singer.Singer_Name }}</a></li>

        {% endfor %}
    </ul>
    <h2>Writers</h2>
    <ul>
        {% for song_writer in song.songwriter_set.all %}
            <li><a href="{% url 'writer_detail' songwriter.writer.WriterID %}">{{ song_writer.writer.Writer_Name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Choreography Details</h2>
    <ul>
        {% for choreo_detail in song.choreographydetail_set.all %}
            <li>{{ choreo_detail.choreographyid.ChoreographyName }}</li>
        {% endfor %}
    </ul>
</body>
</html>
