<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ singer.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h2>{{ singer.name }}</h2>
    
    <a href="{% url 'singer_edit' singer.pk %}">Edit Singer</a>
    <form action="{% url 'singer_delete' singer.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Singer">
    </form>
    <a href="{% url 'singer_list' %}">Back to Singer List</a>
</body>
</html>
