<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Songs</h2>
    <ul>
        {% for song in songs %}
            <li><a href="{% url 'song_detail' song.pk %}">{{ song.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'song_add' %}">Add New Song</a>
    <br>
    <a href="{% url 'singer_list' %}">Back to Singer List
    <br>
    <a href="{{ previous_page }}">Go back</a>

</body>
</html>
